/.idea
/__pycache__
/venv
/.vscode
/code/models/custom/simple_models/trained_models/Deep*
/code/models/trained_models/Examples_Green/Deep*
/**/*.tar
/**/__pycache__/
/code/models/trained_models/Examples_Green/*/*.pth.tar
