/.idea
/__pycache__
/venv
/.vscode
/code/models/custom/simple_models/trained_models/Deep*
/**/*.tar
/**/__pycache__/
/code/models/trained_models/Examples_Green/*/*.pth.tar
/code/models/trained_models/Examples_Green/multiples/**/*.pth.tar
/code/models/trained_models/Examples_Green/multiples/*/*.pth.tar
**/*.tar
/code/models/trained_models/Examples_Green/multiples/**/*/*.pth.tar

